<div class="col-lg-4 col-md-6 mb-4">
  <div class="card border-info h-100">
    <div class="card-body">
      <%= link_to image_tag(post.image), post_path(post.id), method: :get, class:"card-img-top embbed-responsive"%>
    <p class="card-text ">
        <%= post.content %>
    </p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= link_to "#{post.user.nickname}さんの投稿です", user_path(post.user, method: :get) %>
    </li>
    <li class="list-group-item ">
      <% if post.tag_list.any? %>
        <span class="text-break badge badge badge-info">
          <%= raw(post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %>
        </span>
      <% end %>
    </li>
    <li class="list-group-item"></li>
  <div class="card-body">
    <a href="#" class="card-link">リンク1</a>
    <a href="#" class="card-link">リンク2</a>
  </div>
    </div>
  </ul>
  </div>
</div>
