<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <h1 class="my-4 text-center alert alert-info rounded-circle font-italic ">人気タグ</h1>
        <div class="list-group">
          <% @tags.each do |tag| %>
            <span class="badge badge badge-info">
              <%= link_to "##{tag.name}(#{tag.taggings_count})", tag_path(tag.name), class: "list-group-item"%>
            </span>
          <% end %> 
        </div>
    </div>
      <div class="col-lg-10">
        <div class="previews">
          <div class="slider">
            <% @randams.each do |randam| %>
              <%= link_to image_tag(randam.image), post_path(randam.id), method: :get, class: :slick_image %>
            <% end %>
          </div>
        </div>

        <div class="row">
          <%= render partial: "post", collection: @posts %>
        </div>
        <%= paginate @posts %>
      </div>
  </div>
</div>





