<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <h1 class="my-4">人気のタグ</h1>
        <div class="list-group">
          <% @tags.each do |tag| %>
            <%= link_to "##{tag.name}(#{tag.taggings_count})", tag_path(tag.name), class: "list-group-item"%>
          <% end %> 
        </div>
    </div>
      <div class="col-lg-9">
        <div class="previews">
          <div class="slider">
            <% @randams.each do |randam| %>
              <%= link_to image_tag(randam.image), post_path(randam.id), method: :get, class: :slick_image %>
            <% end %>
          </div>
        </div>

        <div class="row">
          <%= render partial: "post", collection: @posts %>
        </div>
      </div> 
  </div>
</div>



<%= paginate @posts %>





