<h3>人気のタグ</h3>
<% @tags.each do |tag| %>
<%= link_to "#{tag.name}(#{tag.taggings_count})", tag_path(tag.name)%>
<% end %>

<% if @search_posts == nil %>
<%= render partial: "post", collection: @posts %>
<% else %>
<%= render partial: "post", collection: @search_posts %>
<% end %>

