body {
  padding-top: 56px;
}

img {
  max-width: 100%;
  height: auto;
}

.carousel img{
  height: 350px;
  width: 900px;
}

.card-img-top { 
  width: 100% !important; }

.pagination>li>a {          
  border: none;     
  color: #696969;   
}

.pagination>.active>a {     
  background: #93c9ff; 
  border-radius: 15px;  
}

.pagination>li>a:hover {        
  border-radius: 15px; 
}

.pagination {
  justify-content: center;
}
